.container{
    min-height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #080420;
    align-items: center;
    padding: 0 2rem;
    position: relative;
}

.buttonContainer{
    width: 5%;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    gap: 1rem;
}



.emoji svg{
    font-size: 1.5rem;
    color: #ffff00c8;
    cursor:pointer;
}
.emojiPicker{
    position: absolute;
    z-index: 99; 
    top: -350px;
    right: 0;
    
}
.emojiBox{
    max-height: 350px;
    max-width: 300px;
    background-color: #080420;
    border-radius: 50%;
}
.InputContainer{
    position: relative;
   min-width: 95%;
    height: 70%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff34;
}
.InputContainer input{
    width: 90%;
    height: 100%;
    color: white;
    border-radius: 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 1rem;
}
.InputContainer button{
    position: absolute;
    right: 0;
    height: 100%;
     width: 10%;
    border-radius: 2rem;
    border: none;
    outline: none;
    background-color: #997af0;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}