.container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    color: white;
}

.container img{
    height: 20rem;
}

.container span{
    color: #4e00ff;
}